#background {
    background-image: url("./images/Background.png");
    background-color: #1E1E1E;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

#topnavbar { 
	box-shadow:0px 2px 10px rgba(0, 0, 0, 1);
	background-color:rgba(30.00000011175871, 30.00000011175871, 30.00000011175871, 1);
	opacity:1;
	width: 99.99%;
    height:57px;
    position: fixed;
    top: 0px;
    z-index: 1;
}

h3 {    
    position: fixed;
    left: 54px;
    right: 1024px;
    top: 15px;
    bottom: 861px;   
    font-family: Avenir;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;   
    color: #FFFFFF;
}

#flagholder {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 716px;
    top: 5px;

    background: #1E1F22;
    border: 2px solid #262626;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#ukflag {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 728px;
    top: 17px;
}

#propholder {
    position: absolute;
    width: 229px;
    height: 44px;
    left: 775px;
    top: 5px;
    
    background: #1E1F22;
    border: 2px solid #262626;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#dataholder {
    position: absolute;
    width: 193px;
    height: 44px;
    left: 1020px;
    top: 5px;
    
    background: #1E1F22;
    border: 2px solid #262626;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;    
}

#accholder {
    position: absolute;
    width: 168px;
    height: 44px;
    left: 1227px;
    top: 5px;
    
    background: #1E1F22;
    border: 2px solid #262626;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;    
}

#valholder {
    position: absolute;
    width: 256px;
    height: 44px;
    left: 1410px;
    top: 5px;
    
    background: #1E1F22;
    border: 2px solid #262626;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;    
}

#propicon {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 790px;
    top: 18px;

}

#dataicon {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 1034px;
    top: 20px;        
}

#accicon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1242px;
    top: 17px;        
}

#valicon {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 1425px;
    top: 18px;        
}

#totalproperties {
    position: fixed;
    height: 22px;
    left: 820px;
    top: 1px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;
    color: rgba(253, 197, 145, 1);
}

#totaldata {
    position: fixed;
    height: 22px;
    left: 1060px;
    top: 1px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;
    color: rgba(253, 197, 145, 1);
}

#totalaccuracy {
    position: fixed;
    height: 22px;
    left: 1272px;
    top: 1px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;
    color: rgba(253, 197, 145, 1);
}

#totalvalue {
    position: fixed;
    height: 22px;
    left: 1455px;
    top: 1px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
    
    display: flex;
    align-items: center;
    color: rgba(253, 197, 145, 1);
}
/* BREAK */

#navpropertiesV {
    position: fixed;
    height: 22px;
    left: 904px;
    top: 1px;
    z-index: 2;

    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;
    color: white
}

#navdataV {
    position: fixed;
    height: 22px;
    left: 1105px;
    top: 1px;
    z-index: 2;

    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;
    color: white
}

#navaccuracyV {
    position: fixed;
    height: 22px;
    left: 1350px;
    top: 1px;
    z-index: 2;

    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;
    color: white
}

#navvalueV {
    position: fixed;
    height: 22px;
    left: 1503px;
    top: 1px;
    z-index: 2;

    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;
    color: white
}

/* BREAK */


#greendot {
    position: fixed;
    left: 366.5px;
    top: 10.49px;
}
.blinking {
    -webkit-animation: .75s blink ease infinite;
    -moz-animation: .75s blink ease infinite;
    -ms-animation: .75s blink ease infinite;
    -o-animation: .75s blink ease infinite;
    animation: .75s blink ease infinite;
    
  }
  
  @keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

#logo {
    position: relative;
    z-index: 3; 
    width: 25px;
    height: 25px;
    left: 18px;
    top: 18px;
    z-index: 5;
}

  /* MENU BELOW */


.sidenav {
    position: absolute;
    width: 0px;
    height: 860px;
    z-index: 2; 
    left: -3px;
    top: 6px;
    transition: 1.5s;
    overflow-x: hidden;
    padding-top: 60px; 
    background: #1E1E1E;
    border: 3px solid #26272B;
    box-sizing: border-box;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.5);
    border-top-left-radius:5px;
	border-top-right-radius:30px;
	border-bottom-left-radius:5px;
    border-bottom-right-radius:30px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 1s;
  }
  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: rgba(253, 197, 145, 1);  
  }
  
  /* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: -8px;
    right: 10px;
    font-size: 30px;
    margin-left: 50px;
}

#database {
    position: absolute;
    width: 60px;
    height: 19px;
    left: 56px;
    top: 121px;
    
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;    
    color: rgba(253, 197, 145, 1);  
}

#myportfolio {
    position: absolute;
    width: 99px;
    height: 19px;
    left: 56px;
    top: 187px;
    font-family: Avenir;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(253, 197, 145, 1);    
}

#manageaccount {
    position: absolute;
    width: 108px;
    height: 19px;
    left: 56px;
    top: 251px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white
}

#contactus {
    position: absolute;
    width: 71px;
    height: 19px;
    left: 55px;
    top: 725px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: rgba(253, 197, 145, 1);
}

#signout {
    position: absolute;
    width: 56px;
    height: 19px;
    left: 55px;
    top: 790px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(253, 197, 145, 1);
}

#databaseicon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 126px;
}

#myportfolioicon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 191px;
}

#manageaccounticon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 256px;
}

#contactusicon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 730px;
}

#signouticon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 795px;
}

/* MIDDLE CONTENT */

#compartment {
    position: fixed;
    z-index: 2;
    width: 650px;
    height: 478px;
    left: 475px;
    top: 224px;        
}